<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corte de Caja</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {%include 'layouts/navbar.html'%}
    <div class="container mt-5">
        <h2 class="mb-4">Corte de Caja - {{ fecha_actual }}</h2>
        <div class="row">
            <div class="col-md-6">
                <p class="font-weight-bold">Total Ventas: ${{ total_ventas }}</p>
                <p class="font-weight-bold">Total Encargos Entregados: ${{ total_encargos }}</p>
                <p class="font-weight-bold">Saldo Inicial: ${{ saldo_inicial }}</p>
                <p class="font-weight-bold">Saldo Final: ${{ saldo_final }}</p>
                <p class="font-weight-bold">Saldo Final Reportado: ${{ saldo_final_reportado }}</p>
                <p class="font-weight-bold">Vendedor: {{ usuario_saldo_final }}</p>
            </div>
        </div>
    </div>
</body>
</html>
