<!-- Inicio de la seccion encargo en html -->
<!DOCTYPE html>

<html lang="en">

<!-- Cabesera de encargos (seccion meta de la pagina) -->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Encargos</title>

    <style>
        .mt-7, .my-7 {
            margin-top: 3.8rem !important;
        }
        .table th, .table td {
            vertical-align: middle;
        }

    </style>

</head>

<!-- Seccion del cuerpo de pagina -->
<body>

    {%include 'layouts/navbar.html'%}

    <div class="container mt-7">

        <h1>Tabla de Encargos</h1>

        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#modalAgregarEncargo">
            Agregar Encargo
        </button>

        <!-- Pestañas de encargos -->
        <ul class="nav nav-tabs mt-3" id="tabEncargos" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="encargo-tab" data-toggle="tab" href="#encargo" role="tab" aria-controls="encargo" aria-selected="true">Encargo</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="proceso-tab" data-toggle="tab" href="#proceso" role="tab" aria-controls="proceso" aria-selected="false">En Proceso</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="completado-tab" data-toggle="tab" href="#completado" role="tab" aria-controls="completado" aria-selected="false">Completado</a>
            </li>

        </ul>
        
        <!-- Contenido de las pestañas -->
        <div class="tab-content" id="contenidoEncargos">
            
            <div class="tab-pane fade show active" id="encargo" role="tabpanel" aria-labelledby="encargo-tab">

                <!-- Tabla de encargos con estado "Encargo" -->
                <table class="table">

                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Folio Encargo</th>
                            <th>Fecha de Entrega</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <!-- Cuerpo que indica el como se agregan los datos provinientes de la BD-->
                    <tbody>

                            {% for encargo in encargos_encargo %}

                            <tr>
                                <td>{{ encargo.cliente.nombre }}</td>
                                <td>{{ encargo.fecha_encargo }}</td>
                                <td>{{ encargo.fecha_entrega }}</td>
                                <td>{{ encargo.costo }}</td>

                                <!-- Botón para cambiar el estado del encargo -->
                                <td>
                                    <button class="btn-cambiar-estado btn btn-primary" data-id="{{ encargo.id }}">Cambiar Estado</button>
                                </td>

                            </tr>

                            {% endfor %}

                    </tbody>

                </table>

            </div>
            
            <div class="tab-pane fade" id="proceso" role="tabpanel" aria-labelledby="proceso-tab">

                <!-- Tabla de encargos con estado "En Proceso" -->
                <table class="table">

                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Folio Encargo</th>
                            <th>Fecha de Entrega</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <!-- Cuerpo que indica el como se agregan los datos provinientes de la BD-->
                    <tbody>

                        {% for encargo in encargos_proceso %}

                        <tr>
                            <td>{{ encargo.cliente.nombre }}</td>
                            <td>{{ encargo.fecha_encargo }}</td>
                            <td>{{ encargo.fecha_entrega }}</td>
                            <td>{{ encargo.costo }}</td>

                            <!-- Botón para cambiar el estado del encargo -->
                            <td>
                                <button class="btn-cambiar-estado btn btn-primary" data-id="{{ encargo.id }}">Cambiar Estado</button>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

            <div class="tab-pane fade" id="completado" role="tabpanel" aria-labelledby="completado-tab">

                <!-- Tabla de encargos con estado "completado" -->
                <table class="table">

                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha de Encargo</th>
                            <th>Fecha de Entrega</th>
                            <th>Costo</th>
                            <th>Estado de Pago</th>
                            <th>Entregado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <!-- Cuerpo que indica el como se agregan los datos provinientes de la BD-->
                    <tbody>

                        {% for encargo in encargos_completado %}

                        <tr>
                            <td>{{ encargo.cliente.nombre }}</td>
                            <td>{{ encargo.fecha_encargo }}</td>
                            <td>{{ encargo.fecha_entrega }}</td>
                            <td>{{ encargo.costo }}</td>

                            <td>
                                {% if encargo.pagado %}
                                &#9989;
                                {% else %}
                                &#10060;
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if encargo.entregado %}
                                &#9989;
                                {% else %}
                                &#10060;
                                {% endif %}
                            </td>

                            <!-- Botón para cambiar el estado del encargo -->
                            <td>
                                <button class="btn-cambiar-estado btn btn-primary" data-id="{{ encargo.id }}">Cambiar Estado</button>
                            </td>

                        </tr>
                        
                        {% endfor %}
                        
                    </tbody>

                </table>

            </div>
    </div>

    <!-- Modal para seleccionar el nuevo estado y estado de pago -->
    <div class="modal fade" id="modalCambiarEstado" tabindex="-1" aria-labelledby="modalCambiarEstadoLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalCambiarEstadoLabel">Cambiar Estado del Encargo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <form id="formCambiarEstado">

                        <div class="mb-3">
                            <label for="selectEstado" class="form-label">Nuevo Estado</label>
                            <select class="form-select" id="selectEstado">
                                <option value="ENCARGO">Encargo</option>
                                <option value="EN_PROCESO">En Proceso</option>
                                <option value="COMPLETADO">Completado</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="selectPago" class="form-label">Estado de Pago</label>
                            <select class="form-select" id="selectPago">
                                <option value="1">Pagado</option>
                                <option value="0">Adeuda</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="selectAdeudo" class="form-label">Nuevo Adeudo</label>
                            <input type="number" class="form-control" id="selectAdeudo" name="selectAdeudo" step="0.01">
                        </div>

                        <div class="mb-3">
                            <label for="estadoEntrega" class="form-label">Estado de Entrega</label>
                            <select class="form-select" id="estadoEntrega">
                                <option value="no_entregado">No entregado</option>
                                <option value="entregado">Entregado</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <!-- Modal para agregar un nuevo encargo 
    <div class="modal fade" id="modalAgregarEncargo" tabindex="-1" aria-labelledby="modalAgregarEncargoLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarEncargoLabel">Agregar Nuevo Encargo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <form id="formAgregarEncargo">

                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="cliente" class="form-label">Cliente</label>
                            <select class="form-select" id="cliente" name="cliente_id">
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="fecha_encargo" class="form-label">Fecha de Encargo</label>
                            <input type="date" class="form-control" id="fecha_encargo" name="fecha_encargo" value="{{ current_date }}">
                        </div>

                        <div class="mb-3">
                            <label for="fecha_entrega" class="form-label">Fecha de Entrega</label>
                            <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega">
                        </div>

                        <div class="mb-3">
                            <label for="costo" class="form-label">Costo</label>
                            <input type="number" class="form-control" id="costo" name="costo" step="0.01">
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="pagadoCheckbox" name="pagadoCheckbox">
                            <label class="form-check-label" for="pagadoCheckbox">¿Pagado?</label>
                        </div>

                        <div class="mb-3">
                            <label for="anticipo" class="form-label">Anticipo</label>
                            <input type="number" class="form-control" id="anticipo" name="anticipo" step="0.01">
                        </div>

                        <div class="mb-3">
                            <label for="adeudo" class="form-label">Adeudo</label>
                            <input type="number" class="form-control" id="adeudo" name="adeudo" step="0.01" readonly>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar Encargo</button>

                    </form>

                </div>

            </div>

        </div>

    </div>
    -->

    <!-- Modal para agregar un nuevo encargo -->
    <div class="modal fade" id="modalAgregarEncargo" tabindex="-1" aria-labelledby="modalAgregarEncargoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarEncargoLabel">Agregar Nuevo Encargo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarEncargo">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="folio" class="form-label">Folio</label>
                            <input type="text" class="form-control" id="folio" name="folio" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_encargo" class="form-label">Fecha de Encargo</label>
                            <input type="date" class="form-control" id="fecha_encargo" name="fecha_encargo" value="{{ current_date }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_entrega" class="form-label">Fecha de Entrega</label>
                            <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega">
                        </div>
                        <div class="mb-3">
                            <label for="costo" class="form-label">Costo</label>
                            <input type="number" class="form-control" id="costo" name="costo" step="0.01">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="pagadoCheckbox" name="pagadoCheckbox">
                            <label class="form-check-label" for="pagadoCheckbox">¿Pagado?</label>
                        </div>
                        <div class="mb-3">
                            <label for="anticipo" class="form-label">Anticipo</label>
                            <input type="number" class="form-control" id="anticipo" name="anticipo" step="0.01">
                        </div>
                        <div class="mb-3">
                            <label for="adeudo" class="form-label">Adeudo</label>
                            <input type="number" class="form-control" id="adeudo" name="adeudo" step="0.01" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="tipo_operacion" class="form-label">Tipo de Operación</label>
                            <select class="form-select" id="tipo_operacion" name="tipo_operacion">
                                <option value="ingreso">Ingreso</option>
                                <option value="gasto">Gasto</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Encargo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast de notificación -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toastNotification" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toastBody" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


    <!-- Toast de notificación 
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

        <div id="toastNotification" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toastBody" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

    </div> -->

    <!-- Script para manejar el cambio de estado -->
    <script>
        /*
        document.addEventListener('DOMContentLoaded', function() {
            var btnCambiarEstado = document.querySelectorAll('.btn-cambiar-estado');
        
            btnCambiarEstado.forEach(function(btn) {
                btn.addEventListener('click', function() {
                    var encargoId = this.dataset.id;
                    var modal = $('#modalCambiarEstado');
                    modal.modal('show');
        
                    // Obtener el adeudo actual
                    $.ajax({
                        type: 'GET',
                        url: '/cambiar-estado-encargo/' + encargoId + '/',
                        success: function(response) {
                            var adeudo = response.adeudo;
                            $('#selectAdeudo').val(adeudo);
        
                            // Ajustar el campo "Nuevo Adeudo" según la selección del usuario
                            $('#selectPago').off('change').on('change', function() {
                                if ($(this).val() == '1') { // Pagado
                                    $('#selectAdeudo').val('0.00').prop('readonly', true);
                                } else { // Adeuda
                                    $('#selectAdeudo').val(adeudo).prop('readonly', true);
                                }
                            });
        
                            // Inicializa el valor del campo "Nuevo Adeudo" según el estado actual
                            $('#selectPago').trigger('change');
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
        
                    // Enviar solicitud al servidor para cambiar el estado
                    $('#formCambiarEstado').off('submit').on('submit', function(e) {
                        e.preventDefault();
                        var nuevoEstado = $('#selectEstado').val();
                        var nuevoPago = $('#selectPago').val();
                        var nuevoAdeudo = $('#selectAdeudo').val();
                        var estadoEntrega = $('#estadoEntrega').val();
        
                        $.ajax({
                            type: 'POST',
                            url: '/cambiar-estado-encargo/' + encargoId + '/',
                            data: {
                                nuevo_estado: nuevoEstado,
                                nuevo_pago: nuevoPago,
                                nuevo_adeudo: nuevoAdeudo,
                                estado_entrega: estadoEntrega,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                modal.modal('hide');
                                showToast('Encargo actualizado', 'success');
                                setTimeout(function() {
                                    location.reload();
                                }, 3000);
                            },
                            error: function(xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText);
                                showToast('Error al actualizar el encargo', 'error');
                            }
                        });
                    });
                });
            });
        });
        
        // Función para mostrar un toast
        function showToast(message, type) {
            var toast = new bootstrap.Toast(document.getElementById('toastNotification'));
            document.getElementById('toastBody').innerText = message;
            document.getElementById('toastNotification').classList.add('bg-' + type);
            toast.show();
        }*/

        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('formAgregarEncargo');
            const folioInput = document.getElementById('folio');
            const fechaEncargoInput = document.getElementById('fecha_encargo');
        
            // Generar el folio automáticamente
            function generarFolio() {
                const now = new Date();
                const folio = now.getFullYear().toString() + 
                              (now.getMonth() + 1).toString().padStart(2, '0') + 
                              now.getDate().toString().padStart(2, '0') + 
                              now.getHours().toString().padStart(2, '0') + 
                              now.getMinutes().toString().padStart(2, '0') + 
                              now.getSeconds().toString().padStart(2, '0');
                folioInput.value = folio;
            }
        
            // Llenar el campo de fecha de encargo automáticamente
            function llenarFechaEncargo() {
                const now = new Date();
                const fecha = now.toISOString().split('T')[0];
                fechaEncargoInput.value = fecha;
            }
        
            // Generar el folio y llenar la fecha de encargo cuando se abre el modal
            $('#modalAgregarEncargo').on('show.bs.modal', function() {
                generarFolio();
                llenarFechaEncargo();
            });
        
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                
                const formData = new FormData(form);
                fetch('/guardar-encargo/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const toastBody = document.getElementById('toastBody');
                    toastBody.textContent = data.message;
                    const toast = new bootstrap.Toast(document.getElementById('toastNotification'));
                    toast.show();
                    form.reset();
                    $('#modalAgregarEncargo').modal('hide');
                })
                .catch(error => console.error('Error:', error));
            });
        });        
        
    </script>


    <!-- Control de acciones del formulario  -->
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var modal = new bootstrap.Modal(document.getElementById('modalAgregarEncargo'));
        
            document.getElementById('formAgregarEncargo').addEventListener('submit', function(event) {
                event.preventDefault();
        
                var formData = new FormData(this);
                var activeTab = document.querySelector('.nav-link.active').id;
                var url = '/guardar-encargo/';
        
                switch (activeTab) {
                    case 'encargo-tab':
                        url = '/guardar-encargo/';
                        break;
                    case 'proceso-tab':
                        url = '/guardar-encargo-proceso/';
                        break;
                    case 'completado-tab':
                        url = '/guardar-encargo-completado/';
                        break;
                    default:
                        break;
                }
        
                // Envio de la informacion al servidor por medio de AJAX
                fetch(url, {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Error al guardar el encargo');
                })
                .then(data => {
                    console.log('Encargo guardado:', data);
                    modal.hide(); // Ocultar el modal después de guardar
                    resetForm(); // Llamar a la función para limpiar el formulario
                    setTimeout(function() {
                        location.reload(); // Recargar la página después de cierto tiempo para mostrar los nuevos resultados
                    }, 2000); // Recargar la página después de 2 segundos (ajustable según sea necesario)
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        
            // Función para limpiar el formulario
            function resetForm() {
                document.getElementById('formAgregarEncargo').reset(); // Resetear el formulario
        
                // Asignacion de la fecha del dia que se ejecuta la alta del encargo
                document.getElementById('fecha_encargo').valueAsDate = new Date();
        
                // Limpiar campos adicionales si es necesario
                document.getElementById('anticipo').value = '';
                document.getElementById('adeudo').value = '';
                document.getElementById('pagadoCheckbox').checked = false;
                document.getElementById('anticipo').disabled = false;
            }
        
            // Asignacion de la fecha del dia que se ejecuta la alta del encargo
            document.getElementById('fecha_encargo').valueAsDate = new Date();
        
            // Calculo del adeudo enbase al costo y el anticipo
            var costoField = document.getElementById('costo');
            var anticipoField = document.getElementById('anticipo');
            var adeudoField = document.getElementById('adeudo');
            var pagadoIcon = document.getElementById('pagadoIcon');
        
            function calculateAdeudo() {
                var costo = parseFloat(costoField.value) || 0;
                var anticipo = parseFloat(anticipoField.value) || 0;
                var adeudo = costo - anticipo;
                adeudoField.value = adeudo.toFixed(2);
            }
        
            costoField.addEventListener('input', calculateAdeudo);
            anticipoField.addEventListener('input', calculateAdeudo);
        
            // Validacion de todo pagado mediante el checkbox
            var pagadoCheckbox = document.getElementById('pagadoCheckbox');
        
            pagadoCheckbox.addEventListener('change', function() {
                if (pagadoCheckbox.checked) {
                    anticipoField.value = costoField.value;
                    anticipoField.disabled = true;
                    calculateAdeudo();
                    pagadoIcon.style.display = 'inline'; // Mostrar el símbolo "✔"
                } else {
                    anticipoField.disabled = false;
                    calculateAdeudo();
                    pagadoIcon.style.display = 'none'; // Ocultar el símbolo "✔"
                }
            });
        });
        
        
    </script>

</body>
</html>