<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Punto de Venta - Inicio</title>

    <!-- Agregar enlaces a Bootstrap y a tu archivo CSS personalizado -->
    <style>
      .table th,
      .table td {
        vertical-align: middle;
      }
      .color-blue {
        color: #0c4de6;
        font-weight: bold;
        font-size: 1.2rem;
      }
      .blue {
        color: #181864;
      }
      .color-green {
        color: #008000;
      }
      .color-price {
        color: rgb(0, 110, 255);
      }
      .color-grey {
        color: gray;
      }
    </style>
  </head>
  <body>
    {% include 'layouts/navbar.html' %}

    <!-- Contenido de la página -->
    <div class="container" style="margin-top: 90px !important">
      <h1 class="mt-5 mb-4">Gestión de Productos</h1>

      <!-- Formulario para crear un nuevo producto -->
      <div class="card mb-4">
        <div class="card-header color-blue">Crear Producto</div>
        <div class="card-body">
          <form action="{% url 'crear_producto' %}" method="post">
            {% csrf_token %}

            <div class="form-group blue">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                required
              />
            </div>

            <!-- Campo para seleccionar si es producto o servicio -->
            <div class="form-group mb-3 blue">
              <label for="tipo">Tipo:</label>
              <select class="form-control" id="tipo" name="tipo" required>
                <option value="producto">Producto</option>
                <option value="servicio">Servicio</option>
              </select>
            </div>

            <div class="form-group mb-3 blue">
              <label for="precio">Precio:</label>
              <input
                type="number"
                class="form-control"
                id="precio"
                name="precio"
                step="0.01"
                required
              />
            </div>

            <div class="form-group mb-3 blue">
              <label for="codigo_barras">Código de Barras:</label>
              <input
                type="text"
                class="form-control"
                id="codigo_barras"
                name="codigo_barras"
              />
            </div>

            <div class="text-end">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
          </form>
        </div>
      </div>

      <h2 class="mb-4">Listado de Productos y Servicios</h2>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="productos-tab"
            data-bs-toggle="tab"
            href="#productos"
            role="tab"
            aria-controls="productos"
            aria-selected="true"
            >Productos</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="servicios-tab"
            data-bs-toggle="tab"
            href="#servicios"
            role="tab"
            aria-controls="servicios"
            aria-selected="false"
            >Servicios</a
          >
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- Productos -->
        <div
          class="tab-pane fade show active"
          id="productos"
          role="tabpanel"
          aria-labelledby="productos-tab"
        >
          <!-- Tarjetas para mostrar los productos -->
          <h2 class="mb-2">Productos</h2>
            <!-- Aquí se iterarán los productos y se mostrarán en tarjetas -->
            {% for producto in productos %}
            {% if producto.tipo == 'producto' %}
            <div class="col-12 mb-1">
              <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                  <h5 class="card-title mb-1", style="width: 350px; text-align: center;">{{ producto.nombre }}</h5>
                  <p class="mb-0 me-3" tyle="width: 150px; text-align: center;">
                    <span class="color-price">Precio: </span>
                    <span class="color-green" id="precio">${{ producto.precio }}</span>
                  </p>
                  <div class="mb-0 text-center" style="width: 200px; margin-right: 10px;">
                    <span class="color-price">Código de Barras: </span>
                    <span class="color-grey" id="codigo_barrass">{{ producto.codigo_barras }}</span>
                  </div>
                  {% comment %} <p class="mb-0 me-3" tyle="width: 150px; text-align: center;">
                    <span class="color-price">Código de Barras: </span>
                    <span class="color-grey" id="codigo_barrass">{{ producto.codigo_barras }}</span>
                  </p> {% endcomment %}
                  <div class="text-center">
                    <!-- Botones para actualizar y eliminar producto -->
                    <button
                      class="btn btn-danger ms-3"
                      onclick="eliminarProducto({{ producto.id }})"
                    >
                      Eliminar
                    </button>
                    <button class="btn btn-primary modificar-producto ms-3">
                      Modificar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {% endif %}

            {% endfor %}
        </div>

      <!-- Servicios -->
      <div
        class="tab-pane fade"
        id="servicios"
        role="tabpanel"
        aria-labelledby="servicios-tab"
      >
        <!-- Tarjetas para mostrar los productos -->
        <h2 class="mb-2">Servicios</h2>

        <div class="row">
          <!-- Aquí se iterarán los productos y se mostrarán en tarjetas -->
          {% for producto in productos %}
          {% if producto.tipo == 'servicio' %}
          <div class="col-12 mb-1">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-between">
                <h5 class="card-title mb-1", style="width: 350px; text-align: center;">{{ producto.nombre }}</h5>
                <p class="mb-0 me-3" tyle="width: 150px; text-align: center;">
                  <span class="color-price">Precio: </span>
                  <span class="color-green" id="precio">${{ producto.precio }}</span>
                </p>
                <p class="mb-0 text-center" style="width: 200px; margin-right: 10px;">
                  <span class="color-price">Código de Barras: </span>
                  <span class="color-grey" id="codigo_barrass">{{ producto.codigo_barras }}</span>
                </p>
                <div class="text-center">
                  <!-- Botones para actualizar y eliminar producto -->
                  <button
                    class="btn btn-danger ms-3"
                    onclick="eliminarProducto({{ producto.id }})"
                  >
                    Eliminar
                  </button>
                  <button class="btn btn-primary modificar-producto ms-3">
                    Modificar
                  </button>
                </div>
              </div>
            </div>
          </div>

          {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>

    </div>
    

    <!-- Modal para actualizar el producto -->
    <div
      class="modal fade"
      id="modalModificarProducto"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalModificarProductoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalModificarProductoLabel">
              Modificar Producto
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form id="formModificarProducto">
              {% csrf_token %}

              <input type="hidden" id="productoId" name="producto_id" />

              <div class="form-group">
                <label for="nombreModificar">Nombre:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombreModificar"
                  name="nombre"
                  required
                />
              </div>

              <div class="form-group">
                <label for="precioModificar">Precio:</label>
                <input
                  type="number"
                  class="form-control"
                  id="precioModificar"
                  name="precio"
                  step="0.01"
                  required
                />
              </div>

              <div class="form-group">
                <label for="codigoBarrasModificar">Código de Barras:</label>
                <input
                  type="text"
                  class="form-control"
                  id="codigoBarrasModificar"
                  name="codigo_barras"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Guardar Cambios
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if messages %}
        <div id="message-container" style="position: relative; display: inline-block;">
            <span id="message-icon" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" 
                  title="{% for message in messages %}{{ message|escapejs }}{% if not forloop.last %}<br>{% endif %}{% endfor %}" 
                  style="cursor: pointer; color: #007bff;">
                ℹ️
            </span>
        </div>
    {% endif %}

  <script>
      // Inicializar los tooltips de Bootstrap
      document.addEventListener('DOMContentLoaded', function () {
          const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
          tooltipTriggerList.forEach(function (tooltipTriggerEl) {
              new bootstrap.Tooltip(tooltipTriggerEl, {
                  html: true // Permitir HTML dentro del tooltip
              });
          });
      });
  </script>

    <script>
      //Script para eliminar un producto
      function eliminarProducto(productoId) {
        if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
          fetch(`/eliminar_producto/${productoId}/`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}",
            },
          })
            .then((response) => {
              if (response.ok) {
                // Si la eliminación fue exitosa, recargar la página para actualizar la lista de productos
                location.reload();
              } else {
                console.error("Error al eliminar el producto");
              }
            })
            .catch((error) => {
              console.error("Error al eliminar el producto:", error);
            });
        }
      }

      //Script para controlar las operaciones del modal
      document.addEventListener("DOMContentLoaded", function () {
        // Manejar el clic en el botón "Modificar"
        document.querySelectorAll(".modificar-producto").forEach((button) => {
          button.addEventListener("click", function () {
            const card = this.closest(".card");
            /*const productoId = card
              .querySelector(".btn-danger")
              .getAttribute("onclick")
              .match(/\d+/)[0];*/
            const productoId = card
              .querySelector(".btn-danger")
              .getAttribute("onclick")
              .match(/\d+/)[0];
            //const nombre = card.querySelector(".card-title").innerText;
            const nombre = card.querySelector(".card-title").innerText;
            /*const precio = card
              .querySelector(".card-text")
              .innerText.match(/\d+(\.\d+)?/)[0];*/
            const precio = card.querySelector(".color-green").innerText.replace('$', '');
            /*const codigoBarras = card
              .querySelectorAll(".card-text")[1]
              .innerText.replace("Código de Barras: ", "");*/
            const codigoBarras = card.querySelector(".color-grey").innerText;

            // Rellenar el modal con los datos del producto
            document.getElementById("productoId").value = productoId;
            document.getElementById("nombreModificar").value = nombre;
            document.getElementById("precioModificar").value = precio;
            document.getElementById("codigoBarrasModificar").value =
              codigoBarras;

            console.log(productoId, nombre, precio, codigoBarras);

            // Mostrar el modal
            $("#modalModificarProducto").modal("show");
          });
        });

        // Manejar el envío del formulario del modal
        document
          .getElementById("formModificarProducto")
          .addEventListener("submit", function (event) {
            event.preventDefault();

            const productoId = document.getElementById("productoId").value;
            const nombre = document.getElementById("nombreModificar").value;
            const precio = document.getElementById("precioModificar").value;
            const codigoBarras = document.getElementById(
              "codigoBarrasModificar"
            ).value;

            fetch(`/modificar_producto/${productoId}/`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
              },
              body: JSON.stringify({
                nombre: nombre,
                precio: precio,
                codigo_barras: codigoBarras,
              }),
            })
              .then((response) => {
                if (response.ok) {
                  $("#modalModificarProducto").modal("hide");
                  location.reload(); // Recargar la página para actualizar la lista de productos
                } else {
                  console.error("Error al modificar el producto");
                }
              })
              .catch((error) => {
                console.error("Error al modificar el producto:", error);
              });
          });
      });
    </script>

    
  </body>
</html>
