<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Punto de Venta - Inicio</title>
    <!-- Agregar enlaces a Bootstrap y a tu archivo CSS personalizado -->
    <style>
        .mt-7, .my-7 {
            margin-top: 3.8rem !important;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .color-blue {
            color: #0c4de6;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .blue {
            color: #181864;
        }
        .color-green {
            color: #008000;
        }
        .color-price {
            color: rgb(0, 110, 255);
        }
        .color-grey {
            color: gray;
        }
    </style>
</head>
<body>
    
    {% include 'layouts/navbar.html' %}

    <!-- Contenido de la página -->
    <div class="container mt-7">
        <h1 class="mt-5 mb-4">Gestión de Productos</h1>
        <!-- Formulario para crear un nuevo producto -->
        <div class="card mb-4">
            <div class="card-header color-blue">Crear Producto</div>
            <div class="card-body">
                <form action="{% url 'crear_producto' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group blue">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group blue">
                        <label for="precio">Precio:</label>
                        <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                    </div>
                    <div class="form-group blue">
                        <label for="codigo_barras">Código de Barras:</label>
                        <input type="text" class="form-control" id="codigo_barras" name="codigo_barras" >
                    </div>
                    <div class="mb-3"></div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div> 
                </form>
            </div>
        </div>
        <!-- Tarjetas para mostrar los productos -->
        <h2 class="mb-4">Productos</h2>
        <div class="row">
            <!-- Aquí se iterarán los productos y se mostrarán en tarjetas -->
            {% for producto in productos %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">
                            <span class="color-price">Precio: </span>
                            <span class="color-green">${{ producto.precio }}</span>
                        </p>
                        <p class="card-text">
                            <span class="color-price">Código de Barras: </span>
                            <span class="color-grey">{{ producto.codigo_barras }}</span>
                        </p>
                        <!-- Botones para actualizar y eliminar producto -->
                        <div class="text-center">
                        <button class="btn btn-danger btn-sm" onclick="eliminarProducto({{ producto.id }})">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function eliminarProducto(productoId) {
            if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
                fetch(`/eliminar_producto/${productoId}/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Si la eliminación fue exitosa, recargar la página para actualizar la lista de productos
                        location.reload();
                    } else {
                        console.error('Error al eliminar el producto');
                    }
                })
                .catch(error => {
                    console.error('Error al eliminar el producto:', error);
                });
            }
        }
    </script>
</body>
</html>
