{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Productos</title>

    <style>
      .table th,
      .table td {
        vertical-align: middle;
      }
      .total {
        font-weight: bold;
      }
      .mt-7,
      .my-7 {
        margin-top: 3.8rem !important;
      }
      .color-blue {
        color: #181864;
        font-weight: bold;
        font-size: 1.2rem;
      }
      .blue {
        color: #181864;
      }
      .color-green {
        color: #008000;
      }
      .color-price {
        color: rgb(0, 110, 255);
      }
      .cantidad-input {
        width: 100px; /* Ajusta el valor según sea necesario */
        margin: 0 auto; /* Centra el campo dentro del contenedor */
      }
      .total-preview {
        color: gray; /* Etiqueta gris para la vista previa */
      }
    </style>
  </head>

  <body>
    {% include 'layouts/navbar.html' %}

    <div class="container mt-7">
      <!-- Modal para el ticket de venta -->
      <div
        class="modal fade"
        id="modalTicket"
        tabindex="-1"
        aria-labelledby="modalTicketLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTicketLabel">Ticket de Venta</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" id="ticketContent">
              <!-- El contenido del ticket se generará dinámicamente -->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="printTicket()"
              >
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
      <h1 class="mt-5 mb-4" style="margin-top: 100px !important">
        Productos y Servicios
      </h1>
      <h2 class="mt-4">Lista de productos y servicios seleccionados</h2>

      <div class="table-responsive">
        <table class="table table-bordered mt-2" id="lista-productos">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Importe</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <p class="total" id="totalprecio">Total: $0.00</p>

      <div class="form-group mb-3">
        <label for="metodoPago" class="mb-2">Método de Pago:</label>
        <select
          class="form-select"
          id="metodoPago"
          name="metodo_pago"
          required
          placeholder="Seleccione una opción"
        >
          <option value="Efectivo">Efectivo</option>
          <option value="Tarjeta">Tarjeta</option>
          <option value="Transferencia">Transferencia</option>
        </select>
      </div>

      <div class="mb-3">
        <!-- Botón de búsqueda de cliente -->
        <button
          class="btn btn-primary mt-2"
          id="buscarCliente"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modalBuscarCliente"
        >
          Buscar y Agregar Cliente
        </button>
        <button
            type="button"
            class="btn btn-primary mt-2"
            data-bs-toggle="modal"
            data-bs-target="#modalSeleccionarProductosServicios5"
        >
            Agregar Encargo
        </button>
      </div>

      <div
        id="nombreClienteSeleccionado"
        class="text-end mt-2"
        style="font-size: 1.5rem"
      >
        Público en general
      </div>

      <button
        type="submit"
        class="btn btn-success mt-2 float-end btn-lg"
        id="pagar"
        onclick="realizarPago()"
      >
        Pagar
      </button>
      
    </div>

    <div class="container mt-7">
      <!-- Agregar Producto Temporal -->
      <!-- Botón para mostrar/ocultar el formulario de agregar producto temporal -->
      <button
        class="btn btn-primary mt-2"
        id="temporal"
        type="button"
        onclick="toggleFormularioTemporal()"
      >
        Agregar Producto o Servicio Temporal
      </button>

      <div id="formularioTemporal" class="mt-4" style="display: none">
        <h3>Agregar Producto o Servicio Temporal</h3>

        <div class="form-group">
          <label for="id_nombre">Nombre:</label>
          <div class="color-blue">
            <input
              type="text"
              id="id_nombre"
              name="nombre"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="id_precio">Precio:</label>
          <input
            type="text"
            id="id_precio"
            name="precio"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="id_cantidad">Cantidad/Kg:</label>
          <input
            type="number"
            id="id_cantidad"
            name="cantidad"
            min="1"
            value="1"
            class="form-control"
          />
        </div>
        <div class="text-end">
          <button class="btn btn-primary mt-2" id="agregarTemporal">
            Agregar Producto o Servicio Temporal
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="codigoBarras">Escanear Código de Barras:</label>
        <input type="text" id="codigoBarras" class="form-control" />
      </div>
    </div>

    <div class="container mt-5">
      <!-- Navegación de pestañas -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="productos-tab" data-bs-toggle="tab" href="#productos" role="tab" aria-controls="productos" aria-selected="true">Productos</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="servicios-tab" data-bs-toggle="tab" href="#servicios" role="tab" aria-controls="servicios" aria-selected="false">Servicios</a>
        </li>
      </ul>
    
      <!-- Contenido de pestañas -->
      <div class="tab-content" id="myTabContent">
        <!-- Productos -->
        <div class="tab-pane fade show active" id="productos" role="tabpanel" aria-labelledby="productos-tab">
          <div class="container mt-5">
            <h1>Productos disponibles</h1>
    
            <div class="row">
              {% for producto in productos %}
              {% if producto.tipo == 'producto' %}
              <div class="col-md-4 mb-4">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title">
                      <span class="color-blue"> {{ producto.nombre }} </span>
                    </h5>
                    <p class="card-text">
                      <span class="color-green">Precio:</span>
                      <span class="color-price">${{ producto.precio }}</span>
                    </p>
    
                    <!-- Campo de entrada para cantidad -->
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control cantidad-input"
                        data-precio="{{ producto.precio }}"
                        placeholder="Cantidad/Kg"
                        min="1"
                        step="1"
                      />
                      <small class="form-text text-muted total-preview">
                        Total: $0.00
                      </small>
                    </div>
    
                    <!-- Botón para agregar producto -->
                    <button
                      class="btn btn-primary agregar-producto"
                      data-nombre="{{ producto.nombre }}"
                      data-precio="{{ producto.precio }}"
                    >
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    
        <!-- Servicios -->
        <div class="tab-pane fade" id="servicios" role="tabpanel" aria-labelledby="servicios-tab">
          <div class="container mt-5">
            <h1>Servicios disponibles</h1>
    
            <div class="row">
              {% for producto in productos %}
              {% if producto.tipo == 'servicio' %}
              <div class="col-md-4 mb-4">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title">
                      <span class="color-blue"> {{ producto.nombre }} </span>
                    </h5>
                    <p class="card-text">
                      <span class="color-green">Precio:</span>
                      <span class="color-price">${{ producto.precio }}</span>
                    </p>
    
                    <!-- Campo de entrada para cantidad -->
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control cantidad-input"
                        data-precio="{{ producto.precio }}"
                        placeholder="Cantidad"
                        min="1"
                        step="1"
                      />
                      <small class="form-text text-muted total-preview">
                        Total: $0.00
                      </small>
                    </div>
    
                    <!-- Botón para agregar producto -->
                    <button
                      class="btn btn-primary agregar-producto"
                      data-nombre="{{ producto.nombre }}"
                      data-precio="{{ producto.precio }}"
                    >
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal de búsqueda y selección de cliente -->
    <div
      class="modal fade"
      id="modalBuscarCliente"
      tabindex="-1"
      aria-labelledby="modalBuscarClienteLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalBuscarClienteLabel">
              Agregar Cliente
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label for="cliente" class="form-label">Clientes</label>
              <select class="form-select" id="cliente" name="cliente_id">
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">
                  {{ cliente.nombre }} {{ cliente.apellidos }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="seleccionarCliente"
            >
              Seleccionar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para Seleccionar Productos y Servicios -->
    <div
    class="modal fade"
    id="modalSeleccionarProductosServicios5"
    tabindex="-1"
    aria-labelledby="modalSeleccionarProductosServiciosLabel5"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSeleccionarProductosServiciosLabel5">
            Seleccionar Productos y Servicios
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="myTabContent5">
            <!-- Productos -->
            <div
              class="tab-pane fade"
              id="productos5"
              role="tabpanel"
              aria-labelledby="productos5-tab"
            >
              <div class="container mt-3">
                <h3>Productos Disponibles</h3>
                <div class="row">
                  {% for producto in productos %}
                    {% if producto.tipo == 'producto' %}
                      <div class="col-md-4 mb-4">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="card-title">
                              <span class="color-blue">{{ producto.nombre }}</span>
                            </h5>
                            <p class="card-text">
                              <span class="color-green">Precio:</span>
                              <span class="color-price">${{ producto.precio }}</span>
                            </p>

                            <!-- Campo de entrada para cantidad -->
                            <div class="form-group mb-2">
                              <input
                                type="number"
                                class="form-control cantidad-input5"
                                data-precio="{{ producto.precio }}"
                                placeholder="Cantidad/Kg"
                                min="1"
                                step="1"
                              />
                              <small class="form-text text-muted total-preview5">
                                Total: $0.00
                              </small>
                            </div>

                            <!-- Botón para agregar producto -->
                            <button
                              class="btn btn-primary agregar-producto5"
                              data-nombre="{{ producto.nombre }}"
                              data-precio="{{ producto.precio }}"
                            >
                              Agregar
                            </button>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- Servicios -->
            <div
              class="tab-pane fade show active"
              id="servicios5"
              role="tabpanel"
              aria-labelledby="servicios5-tab"
            >
              <div class="container mt-3">
                <h3>Servicios Disponibles</h3>
                <div class="row">
                  {% for producto in productos %}
                    {% if producto.tipo == 'servicio' %}
                      <div class="col-md-4 mb-4">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="card-title">
                              <span class="color-blue">{{ producto.nombre }}</span>
                            </h5>
                            <p class="card-text">
                              <span class="color-green">Precio:</span>
                              <span class="color-price">${{ producto.precio }}</span>
                            </p>

                            <!-- Campo de entrada para cantidad -->
                            <div class="form-group mb-2">
                              <input
                                type="number"
                                class="form-control cantidad-input5"
                                data-precio="{{ producto.precio }}"
                                placeholder="Cantidad"
                                min="1"
                                step="1"
                              />
                              <small class="form-text text-muted total-preview5">
                                Total: $0.00
                              </small>
                            </div>

                            <!-- Botón para agregar servicio -->
                            <button
                              class="btn btn-primary agregar-producto5"
                              data-nombre="{{ producto.nombre }}"
                              data-precio="{{ producto.precio }}"
                            >
                              Agregar
                            </button>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- Navegación de pestañas -->
          <ul class="nav nav-tabs" id="myTab5" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="productos5-tab"
                data-bs-toggle="tab"
                data-bs-target="#productos5"
                type="button"
                role="tab"
                aria-controls="productos5"
                aria-selected="false"
              >
                Productos
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="servicios5-tab"
                data-bs-toggle="tab"
                data-bs-target="#servicios5"
                type="button"
                role="tab"
                aria-controls="servicios5"
                aria-selected="true"
              >
                Servicios
              </button>
            </li>
          </ul>
          <!-- Total y Botón Siguiente -->
          <div class="mt-4 d-flex justify-content-between align-items-center">
            <label for="total5">Total: $<span id="total5">0.00</span></label>
            <button
              type="button"
              class="btn btn-success"
              id="siguienteModal5"
            >
              Siguiente
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>


    <!-- Modal para Agregar Encargo-->
    <div
    class="modal fade"
    id="modalAgregarEncargo5"
    tabindex="-1"
    aria-labelledby="modalAgregarEncargoLabel5"
    aria-hidden="true"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarEncargoLabel5">
            Agregar Encargo
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form id="formAgregarEncargo5">
            {% csrf_token %}
            <div class="mb-3">
              <label for="folio5" class="form-label">Folio</label>
              <input
                type="text"
                class="form-control"
                id="folio5"
                name="folio"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="cliente5" class="form-label">Clientes</label>
              <select class="form-select" id="cliente5" name="cliente_id">
                {% for cliente in clientes %}
                  <option value="{{ cliente.id }}">
                    {{ cliente.nombre }} {{ cliente.apellidos }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="fecha_encargo5" class="form-label">Fecha de Encargo</label>
              <input
                type="date"
                class="form-control"
                id="fecha_encargo5"
                name="fecha_encargo"
                value="{{ current_date }}"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="fecha_entrega5" class="form-label">Fecha de Entrega</label>
              <input
                type="date"
                class="form-control"
                id="fecha_entrega5"
                name="fecha_entrega"
              />
            </div>

            <div class="mb-3">
              <label for="costo5" class="form-label">Costo</label>
              <input
                type="number"
                class="form-control"
                id="costo5"
                name="costo"
                step="0.01"
                readonly
              />
            </div>

            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="pagadoCheckbox5"
                name="pagadoCheckbox"
              />
              <label class="form-check-label" for="pagadoCheckbox5">¿Pagado?</label>
            </div>

            <div class="mb-3">
              <label for="anticipo5" class="form-label">Anticipo</label>
              <input
                type="number"
                class="form-control"
                id="anticipo5"
                name="anticipo"
                step="0.01"
              />
            </div>

            <div class="mb-3">
              <label for="adeudo5" class="form-label">Adeudo</label>
              <input
                type="number"
                class="form-control"
                id="adeudo5"
                name="adeudo"
                step="0.01"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="forma_pago5" class="form-label">Metodo de Pago</label>
              <select class="form-select" id="forma_pago5" name="forma_pago">
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Transferencia">Transferencia</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="descuento5" class="form-label">Descuento (%)</label>
              <input
                type="number"
                class="form-control"
                id="descuento5"
                name="descuento"
                step="0.01"
                value="0"
              />
            </div>

            <div class="mb-3">
              <label for="observaciones5" class="form-label">Descripción</label>
              <textarea
                class="form-control"
                id="observaciones5"
                name="observaciones"
                rows="3"
              ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let totalAcumulado = 0;
    
        // Manejar la actualización del total en cada producto/servicio
        document.querySelectorAll(".cantidad-input5").forEach(function (input) {
          input.addEventListener("input", function () {
            const precio = parseFloat(this.getAttribute("data-precio"));
            const cantidad = parseFloat(this.value) || 0;
            const totalPreview = this.nextElementSibling;
            const total = precio * cantidad;
            totalPreview.textContent = `Total: $${total.toFixed(2)}`;
          });
        });
    
        // Manejar la acción de agregar producto/servicio
        document.querySelectorAll(".agregar-producto5").forEach(function (button) {
          button.addEventListener("click", function () {
            const nombre = this.getAttribute("data-nombre");
            const precio = parseFloat(this.getAttribute("data-precio"));
            const cantidadInput = this.parentElement.querySelector(".cantidad-input5");
            const cantidad = parseFloat(cantidadInput.value) || 0;
    
            if (cantidad > 0) {
              const total = precio * cantidad;
              totalAcumulado += total;
    
              // Actualizar el total acumulado en el modal
              document.getElementById("total5").textContent = totalAcumulado.toFixed(2);
    
              // Resetear el campo de cantidad y total preview
              cantidadInput.value = "";
              cantidadInput.nextElementSibling.textContent = "Total: $0.00";
            } else {
              alert("Ingrese una cantidad válida.");
            }
          });
        });
    
        // Generar automáticamente el folio cuando se abre el modal de agregar encargo
        const modalAgregarEncargo = document.getElementById("modalAgregarEncargo5");
        modalAgregarEncargo.addEventListener("show.bs.modal", function () {
          const folioInput = document.getElementById("folio5");
          const now = new Date();
          const folio = `${now.getFullYear()}${String(now.getMonth() + 1).padStart(2, '0')}${String(now.getDate()).padStart(2, '0')}${String(now.getHours()).padStart(2, '0')}${String(now.getMinutes()).padStart(2, '0')}${String(now.getSeconds()).padStart(2, '0')}`;
          folioInput.value = folio;
    
          // Establecer la fecha de encargo como la fecha actual
          const fechaEncargoInput = document.getElementById("fecha_encargo5");
          const fechaActual = now.toISOString().split('T')[0];
          fechaEncargoInput.value = fechaActual;
        });
    
        // Manejar el botón "Siguiente" para pasar al modal de agregar encargo
        document.getElementById("siguienteModal5").addEventListener("click", function () {
          // Asignar el total acumulado al campo de costo en el modal de agregar encargo
          document.getElementById("costo5").value = totalAcumulado.toFixed(2);
    
          // Calcular el adeudo automáticamente
          const anticipoInput = document.getElementById("anticipo5");
          let anticipo = parseFloat(anticipoInput.value) || 0;
          let adeudo = totalAcumulado - anticipo;
          adeudo = adeudo < 0 ? 0 : adeudo; // Asegurar que el adeudo no sea negativo
          document.getElementById("adeudo5").value = adeudo.toFixed(2);
    
          // Resetear el total acumulado
          totalAcumulado = 0;
          document.getElementById("total5").textContent = "0.00";
    
          // Cerrar el modal de selección y abrir el modal de agregar encargo
          const modalSeleccionar = bootstrap.Modal.getInstance(
            document.getElementById("modalSeleccionarProductosServicios5")
          );
          modalSeleccionar.hide();
    
          const modalAgregar = new bootstrap.Modal(
            document.getElementById("modalAgregarEncargo5")
          );
          modalAgregar.show();
        });
    
        // Manejar cambios en el campo de anticipo para recalcular el adeudo
        document.getElementById("anticipo5").addEventListener("input", function () {
          const anticipo = parseFloat(this.value) || 0;
          const costo = parseFloat(document.getElementById("costo5").value) || 0;
          const descuento = parseFloat(document.getElementById("descuento5").value) || 0;
          
          // Aplicar el descuento
          const totalConDescuento = costo - (costo * (descuento / 100));
          
          let adeudo = totalConDescuento - anticipo;
          adeudo = adeudo < 0 ? 0 : adeudo; // Asegurar que el adeudo no sea negativo
          document.getElementById("adeudo5").value = adeudo.toFixed(2);
        });

        // Manejar cambios en el campo de descuento para recalcular el adeudo
        document.getElementById("descuento5").addEventListener("input", function () {
          const anticipo = parseFloat(document.getElementById("anticipo5").value) || 0;
          const costo = parseFloat(document.getElementById("costo5").value) || 0;
          const descuento = parseFloat(this.value) || 0;

          // Aplicar el descuento
          const totalConDescuento = costo - (costo * (descuento / 100));
          
          let adeudo = totalConDescuento - anticipo;
          adeudo = adeudo < 0 ? 0 : adeudo; // Asegurar que el adeudo no sea negativo
          document.getElementById("adeudo5").value = adeudo.toFixed(2);
        });
    
        // Manejar el checkbox "¿Pagado?" para ajustar anticipo y adeudo
        document.getElementById("pagadoCheckbox5").addEventListener("change", function () {
          if (this.checked) {
            const costo = parseFloat(document.getElementById("costo5").value) || 0;
            document.getElementById("anticipo5").value = costo.toFixed(2);
            document.getElementById("adeudo5").value = "0.00";
    
            // Hacer que el campo de anticipo sea de solo lectura
            document.getElementById("anticipo5").readOnly = true;
          } else {
            // Si se desmarca, resetear anticipo y adeudo
            document.getElementById("anticipo5").value = "";
            const costo = parseFloat(document.getElementById("costo5").value) || 0;
            document.getElementById("adeudo5").value = costo.toFixed(2);
    
            // Hacer que el campo de anticipo sea editable
            document.getElementById("anticipo5").readOnly = false;
          }
        });
    
        // Establecer el estado inicial del campo de anticipo basado en el estado del checkbox
        const pagadoCheckbox = document.getElementById("pagadoCheckbox5");
        if (pagadoCheckbox.checked) {
          const costoInicial = parseFloat(document.getElementById("costo5").value) || 0;
          document.getElementById("anticipo5").value = costoInicial.toFixed(2);
          document.getElementById("adeudo5").value = "0.00";
          document.getElementById("anticipo5").readOnly = true;
        }
    
        // Manejar el envío del formulario mediante AJAX
        var modal = new bootstrap.Modal(document.getElementById('modalAgregarEncargo5'));
    
        document.getElementById('formAgregarEncargo5').addEventListener('submit', function(event) {
          event.preventDefault();
    
          var formData = new FormData(this);
          var url = 'guardar-encargo/'; // Usar la URL especificada en el atributo 'action' del formulario
    
          // Enviar la información al servidor por medio de AJAX
          fetch(url, {
            method: 'POST',
            body: formData,
            headers: {
              'X-CSRFToken': getCookie('csrftoken') // Añadir CSRF token
            }
          })
          .then(response => {
            if (response.ok) {
              return response.json(); // Suponiendo que el servidor retorna un JSON con los datos del encargo
            }
            else {
              throw new Error('Error al guardar el encargo');
            }
          })
          .then(data => {
            console.log('Encargo guardado:', data);
            console.log(formData);
            generarTicket2();
            printTicket2();
            modal.hide(); // Ocultar el modal después de guardar
            resetForm(); // Llamar a la función para limpiar el formulario
            
          })
          .catch(error => {data
            console.error('Error:', error);
            alert('Ocurrió un error al guardar el encargo.');
          });
        });
    
        // Función para limpiar el formulario después de guardar
        function resetForm() {
          document.getElementById('formAgregarEncargo5').reset();
          document.getElementById("costo5").value = "";
          document.getElementById("adeudo5").value = "";
        }
    
        // Función para obtener el valor de una cookie por su nombre (para CSRF token)
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Verificar si la cookie empieza con el nombre buscado
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        function generarTicket2() {
          const cliente = document.getElementById("cliente5").selectedOptions[0].text;
          const folio = document.getElementById("folio5").value;
          const fechaEncargo = document.getElementById("fecha_encargo5").value;
          const fechaEntrega = document.getElementById("fecha_entrega5").value;
          const costo = parseFloat(document.getElementById("costo5").value) || 0;
          const anticipo = parseFloat(document.getElementById("anticipo5").value) || 0;
          const adeudo = parseFloat(document.getElementById("adeudo5").value) || 0;
          const metodoPagoSeleccionado = document.getElementById("forma_pago5").value;
          const descripcion = document.getElementById("observaciones5").value;
          const descuento = parseFloat(document.getElementById("descuento5").value) || 0;
        
          const ticketContent = document.getElementById("ticketContent");
          ticketContent.innerHTML = `
            <div style="font-family: 'Monospace', serif; font-size: 18px;">
              <div style="text-align: right;">
                <img src="{% static 'img/LAVANDEROS.ico' %}" alt="Lavanderos" style="width: 100px; height: auto;"/>
              </div>
              <h2 style="text-align: center; font-size: 19px;">Lavanderos</h2>
              <p>WhatsApp: 7222947337</p>
              <p>Teléfono: 7229365461</p>
              <p>Calle Paseo de los Matlatzincas 235</p>
              <p>Col. Lomas Altas, Toluca, México</p>
              <h4>Folio: ${folio} </h4>
              <h4>Cliente: ${cliente}</h4>
              <p>Método de Pago: <span style="font-weight: bold">${metodoPagoSeleccionado}</span></p>
              <p>Fecha de encargo: ${new Date(fechaEncargo).toLocaleString("es-ES")}</p>
              <p>Fecha de entrega: ${new Date(fechaEntrega).toLocaleString("es-ES")}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align: center;">Servicio</th>
                    <th style="text-align: center;">Costo</th>
                    <th style="text-align: center;">Anticipo</th>
                    <th style="text-align: center;">Adeudo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-size: 0.8em; text-align: center;">Encargo</td>
                    <td style="font-size: 0.9em; text-align: center;">${costo.toFixed(2)}</td>
                    <td style="font-size: 0.9em; text-align: center;">${anticipo.toFixed(2)}</td>
                    <td style="font-size: 0.9em; text-align: center;">${adeudo.toFixed(2)}</td>
                  </tr>
                </tbody>
              </table>
              

              <p style="font-size: 0.9em; text-align: right;">Descuento ${descuento.toFixed(2)}%</p>
              <p style="font-size: 0.9em; text-align: right;">Descuento $${(costo * (descuento / 100)).toFixed(2)}</p>
              <p style="font-size: 0.9em; text-align: right;">Costo con Descuento: $${(costo - (costo * (descuento / 100))).toFixed(2)}</p>

              <p class="total" style="text-align: right; font-size: 1.5em;">Total/Anticipo: $${anticipo.toFixed(2)}</p>
              <p style="font-size: 0.8em;">Descripción: ${descripcion}</p>
              <p style="font-style: italic; text-align: center;">"Porque NO toda la ropa sucia se lava en casa"</p>
              <p style="font-size: 1.1em; text-align: justify;"><i>"Lavanderos"</i>, después de <b style="font-size: 1.2em;">1 mes</b> la empresa no se hace responsable de las prendas. Por su comprensión, gracias.</p>
            </div>
          `;
        }
        // Función para imprimir el ticket
          function printTicket2() {
            var printContents = document.getElementById("ticketContent").innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;

            // Recargar la página después de imprimir
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Obtener todos los campos de entrada de cantidad
        var cantidadInputs = document.querySelectorAll(".cantidad-input");

        cantidadInputs.forEach(function (input) {
          input.addEventListener("input", function () {
            var precio = parseFloat(this.getAttribute("data-precio"));
            var cantidad = parseFloat(this.value) || 0;
            var total = precio * cantidad;

            // Actualizar el texto de vista previa
            this.nextElementSibling.textContent = "Total: $" + total.toFixed(2);
          });
        });
      });
    </script>

    <script>

      // Pasar los datos de los productos al JavaScript
      const productos = [
          {% for producto in productos %}
          {
              nombre: "{{ producto.nombre }}",
              precio: {{ producto.precio }},
              codigo_barras: "{{ producto.codigo_barras }}"
          },
          {% endfor %}
      ];

      // Añadir evento de escucha para la combinación de teclas Alt + P
      document.addEventListener('keydown', function(event) {
          if (event.altKey && event.key === 'p') {
              event.preventDefault();
              document.getElementById('pagar').click();
          }
      });
    </script>

    <script>
      // Función para autoenfocar el input de código de barras
      function autoEnfocarCodigoBarras() {
        const codigoBarrasInput = document.getElementById("codigoBarras");
        codigoBarrasInput.focus();
      }

      // Enfocar automáticamente al cargar la página
      window.onload = autoEnfocarCodigoBarras;

      document
        .getElementById("codigoBarras")
        .addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            var codigoBarras = event.target.value.trim();
            if (codigoBarras) {
              // Buscar el producto en la lista de productos
              var producto = productos.find(
                (p) => p.codigo_barras === codigoBarras
              );
              if (producto) {
                // Añadir el producto a la lista de productos seleccionados
                agregarProductoALista(producto);
              } else {
                alert("Producto no encontrado");
              }

              // Limpiar el campo de código de barras
              event.target.value = "";
            }
          }
        });

      function agregarProductoALista(producto) {
        var tabla = document.querySelector("#lista-productos tbody");

        // Crear una nueva fila para el producto
        var nuevaFila = document.createElement("tr");

        // Crear las celdas para el nombre, precio y acciones del producto
        var celdaNombre = document.createElement("td");
        celdaNombre.textContent = producto.nombre;

        var celdaPrecio = document.createElement("td");
        celdaPrecio.textContent = producto.precio.toFixed(2);

        var celdaCantidad = document.createElement("td");
        celdaCantidad.textContent = 1;

        var celdaImporte = document.createElement("td");
        celdaImporte.textContent = (producto.precio * 1).toFixed(2);

        var celdaAcciones = document.createElement("td");
        var botonEliminar = document.createElement("button");
        botonEliminar.textContent = "Eliminar";
        botonEliminar.classList.add("btn", "btn-danger");
        botonEliminar.addEventListener("click", function () {
          tabla.removeChild(nuevaFila);
          actualizarTotal(); // Actualizar el total al eliminar un producto
        });
        celdaAcciones.appendChild(botonEliminar);

        // Agregar las celdas a la fila
        nuevaFila.appendChild(celdaNombre);
        nuevaFila.appendChild(celdaPrecio);
        nuevaFila.appendChild(celdaCantidad);
        nuevaFila.appendChild(celdaImporte);
        nuevaFila.appendChild(celdaAcciones);

        // Agregar la fila a la tabla
        tabla.appendChild(nuevaFila);

        // Actualizar el total al agregar un producto
        actualizarTotal();
        autoEnfocarCodigoBarras();
      }

      function actualizarTotal() {
        var total = 0;
        var filasProductos = document.querySelectorAll(
          "#lista-productos tbody tr"
        );
        filasProductos.forEach(function (fila) {
          var precio = parseFloat(
            fila.querySelector("td:nth-child(2)").textContent
          );
          var cantidad = parseFloat(
            fila.querySelector("td:nth-child(3)").textContent
          );
          total += precio * cantidad;
        });
        document.getElementById("totalprecio").textContent =
          "Total: $" + total.toFixed(2);
      }
    </script>

    <script>
      function realizarPago() {
        var btnPagar = document.getElementById("pagar");

        function generarFolio() {
          const now = new Date();

          const year = now.getFullYear();
          const month = String(now.getMonth() + 1).padStart(2, "0"); // Mes (de 0 a 11) + 1 y se asegura que sea de 2 dígitos
          const day = String(now.getDate()).padStart(2, "0"); // Día del mes
          const hour = String(now.getHours()).padStart(2, "0"); // Hora
          const minute = String(now.getMinutes()).padStart(2, "0"); // Minutos
          const second = String(now.getSeconds()).padStart(2, "0"); // Segundos
          const millisecond = String(now.getMilliseconds()).padStart(3, "0"); // Milisegundos

          const folio = `${year}${month}${day}${hour}${minute}${second}${millisecond}`;
          return folio;
        }

        btnPagar.addEventListener("click", function () {
          // Obtener los datos de la venta
          var productos = obtenerProductos();
          var clienteElement = document.getElementById(
            "nombreClienteSeleccionado"
          );
          var cliente = clienteElement
            ? clienteElement.textContent.trim()
            : "Público General";
          var total = actualizarTotal2().toString();
          const selectElement = document.getElementById("metodoPago");
          const metodoPagoSeleccionado = selectElement.value;
          const folio = generarFolio();
          const descripcion = "Venta en general";

          // Verificar si se ha seleccionado un método de pago
          if (!metodoPago) {
            alert("Por favor, seleccione un método de pago.");
            return;
          }
          // Enviar solicitud de pago al servidor
          fetch('{% url "pagar_venta" %}', {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
              productos: productos,
              cliente: cliente,
              total: total,
              metodo_pago: metodoPagoSeleccionado, // Enviar el método de pago al servidor
            }),
          })
            .then((response) => {
              if (response.ok) {
                return response.json();
              }
              throw new Error("Error al realizar el pago");
            })
            .then((data) => {
              // Manejar la respuesta del servidor
              console.log("Pago realizado:", data);
              // Aquí puedes realizar alguna acción después del pago, como mostrar un mensaje de éxito al usuario
              console.log(metodoPagoSeleccionado);

              // Generar el contenido del ticket
              generarTicket(
                productos,
                cliente,
                total,
                metodoPagoSeleccionado,
                descripcion,
                folio
              );

              // Abrir el modal del ticket
              var modalTicket = new bootstrap.Modal(
                document.getElementById("modalTicket")
              );
              modalTicket.show();
            })
            .catch((error) => {
              console.error("Error:", error);
              // Aquí puedes manejar el error, como mostrar un mensaje de error al usuario
              alert(
                "Error al realizar el pago. Por favor, inténtalo de nuevo."
              );
            });
        });
      }

      // Función para generar el contenido del ticket
      function generarTicket(
        productos,
        cliente,
        total,
        metodoPagoSeleccionado,
        descripcion,
        folio
      ) {
        var ticketContent = document.getElementById("ticketContent");
        ticketContent.innerHTML = `
                <div style="font-family: 'Monospace', serif; font-size: 18px;" >
                <div style="text-align: right;, font-family: 'Monospace', serif; font-size: 19px;">
                <img src={% static 'img/LAVANDEROS.ico' %} alt="Lavanderos" style="width: 100px; height: auto;"/>
                </div>
                <h2 style="text-align: center;">Lavanderos</h2>
                <p>WhatsApp: 7222947337</p>
                <p>Teléfono: 7229365461</p>
                <p>Calle Paseo de los Matlatzincas 235</p>
                <p>Col. Lomas Altas, Toluca, México</p>
                <h4>Cliente: ${cliente}</h4>
                <p>Folio: ${folio} </p>
                <p>Método de Pago: <span style="font-weight: bold">${metodoPagoSeleccionado}</span></p>
                <p>Fecha de encargo: ${new Date().toLocaleString("es-ES", {
                  day: "2-digit",
                  month: "2-digit",
                  year: "numeric",
                  hour: "2-digit",
                  minute: "2-digit",
                  hour12: true,
                })}</p>
   
                <p>Fecha de entrega: ${new Date().toLocaleString("es-ES", {
                  day: "2-digit",
                  month: "2-digit",
                  year: "numeric",
                  hour: "2-digit",
                  minute: "2-digit",
                  hour12: true,
                })}</p>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Producto</th>
                            <th style="text-align: center;">Precio</th>
                            <th style="text-align: center;">Cantidad</th>
                            <th style="text-align: center;">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${productos
                          .map(
                            (producto) => `
                            <tr>
                                <td style="font-size: 0.8em; text-align: center;">${
                                  producto.nombre
                                }</td>
                                <td style="font-size: 0.9em; text-align: center;">${producto.precio.toFixed(
                                  2
                                )}</td>
                                <td style="font-size: 1.0em; text-align: center;">${
                                  producto.cantidad
                                }</td>
                                <td style="font-size: 0.9em; text-align: center;">${(
                                  producto.precio * producto.cantidad
                                ).toFixed(2)}</td>
                            </tr>
                        `
                          )
                          .join("")}
                    </tbody>
                    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                </table>
                <p class="total" style="text-align: right; font-size: 1.5em;">Total: $${parseFloat(
                  total
                ).toFixed(2)}</p>
                <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                <p style="font-size: 0.8em;">Descripción: ${descripcion}</p>
                <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                <p style="font-style: italic; text-align: center;">"Porque NO toda la ropa sucia se lava en casa"</p>
                <p style="font-size: 1.1em; text-align: justify;"><i>"Lavanderos"</i>,después de <b style="font-size: 1.2em;"> 1 mes</b> la empresa no se hace responsable de las prendas. Por su comprensión, gracias.</p>
                </div>
            `;
      }

      // Function to print the ticket
      function printTicket() {
        var printContents = document.getElementById("ticketContent").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

        // Reload the page after printing
        setTimeout(function () {
          location.reload();
        }, 1000);
      }

      // Function to obtain the products from the table

      // Función para imprimir el ticket
      function printTicket() {
        var printContents = document.getElementById("ticketContent").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

        // Recargar la página después de imprimir
        setTimeout(function () {
          location.reload();
        }, 1000);
      }

      // Función para obtener los productos de la tabla
      function obtenerProductos() {
        var productos = [];
        var filasProductos = document.querySelectorAll(
          "#lista-productos tbody tr"
        );
        filasProductos.forEach(function (fila) {
          var nombre = fila.querySelector("td:nth-child(1)").textContent.trim();
          var precio = parseFloat(
            fila
              .querySelector("td:nth-child(2)")
              .textContent.trim()
              .replace("$", "")
          );
          var cantidad = parseFloat(
            fila.querySelector("td:nth-child(3)").textContent.trim()
          );
          productos.push({
            nombre: nombre,
            precio: precio,
            cantidad: cantidad,
          });
        });
        console.log(productos);
        return productos;
      }

      function actualizarTotal2() {
        var importe = 0;
        var filasProductos = document.querySelectorAll(
          "#lista-productos tbody tr"
        );
        filasProductos.forEach(function (fila) {
          var precio = parseFloat(
            fila.querySelector("td:nth-child(2)").textContent
          );
          var cantidad = parseFloat(
            fila.querySelector("td:nth-child(3)").textContent
          );
          importe += precio * cantidad;
        });
        console.log(importe);
        return importe;
      }
    </script>

    <script>
      function toggleFormularioTemporal() {
        var formularioTemporal = document.getElementById("formularioTemporal");
        var botonTemporal = document.getElementById("temporal");
        if (formularioTemporal.style.display === "none") {
          formularioTemporal.style.display = "block";
          botonTemporal.style.display = "none";
        } else {
          formularioTemporal.style.display = "none";
          botonTemporal.style.display = "block";
        }
      }

      // Manejar el clic en los botones "Agregar a la lista"
      var botonesAgregar = document.querySelectorAll(".agregar-producto");
      botonesAgregar.forEach(function (boton) {
        boton.addEventListener("click", function () {
          var nombreProducto = boton.getAttribute("data-nombre");
          var precioProducto = parseFloat(boton.getAttribute("data-precio"));
          var cantidadInput =
            this.previousElementSibling.querySelector(".cantidad-input");
          var cantidadProducto = parseFloat(cantidadInput.value) || 0;
          var totalProducto = precioProducto * cantidadProducto;

          if (cantidadProducto > 0) {
            // Obtener la tabla y el cuerpo de la tabla
            var tabla = document.querySelector("#lista-productos tbody");

            // Crear una nueva fila para el producto
            var nuevaFila = document.createElement("tr");

            // Crear las celdas para el nombre, precio y acciones del producto
            var celdaNombre = document.createElement("td");
            celdaNombre.textContent = nombreProducto;

            var celdaPrecio = document.createElement("td");
            celdaPrecio.textContent = precioProducto.toFixed(2);

            var celdaCantidad = document.createElement("td");
            celdaCantidad.textContent = cantidadProducto;

            var celdaImporte = document.createElement("td");
            celdaImporte.textContent = totalProducto.toFixed(2);

            var celdaAcciones = document.createElement("td");
            var botonEliminar = document.createElement("button");
            botonEliminar.textContent = "Eliminar";
            botonEliminar.classList.add("btn", "btn-danger");
            botonEliminar.addEventListener("click", function () {
              tabla.removeChild(nuevaFila);
              actualizarTotal(); // Actualizar el total al eliminar un producto
            });
            celdaAcciones.appendChild(botonEliminar);

            // Agregar las celdas a la fila
            nuevaFila.appendChild(celdaNombre);
            nuevaFila.appendChild(celdaPrecio);
            nuevaFila.appendChild(celdaCantidad);
            nuevaFila.appendChild(celdaImporte);
            nuevaFila.appendChild(celdaAcciones);

            // Agregar la fila a la tabla
            tabla.appendChild(nuevaFila);

            // Actualizar el total al agregar un producto
            actualizarTotal();
            autoEnfocarCodigoBarras();

            cantidadInput.value = "";
          } else {
            alert("Por favor, ingrese una cantidad válida.");
          }
        });
      });

      // Función para actualizar el total
      function actualizarTotal() {
        var total = 0;
        var filasProductos = document.querySelectorAll(
          "#lista-productos tbody tr"
        );
        filasProductos.forEach(function (fila) {
          var precio = parseFloat(
            fila.querySelector("td:nth-child(2)").textContent
          );
          var cantidad = parseFloat(
            fila.querySelector("td:nth-child(3)").textContent
          );
          total += precio * cantidad;
        });
        document.getElementById("totalprecio").textContent =
          "Total: $" + total.toFixed(2);
      }

      // Manejar el clic en el botón "Agregar Producto Temporal"
      document
        .getElementById("agregarTemporal")
        .addEventListener("click", function (event) {
          event.preventDefault(); // Evitar que se envíe el formulario

          // Obtener los valores del formulario
          var nombreProducto = document.getElementById("id_nombre").value;
          var precioProducto = parseFloat(
            document.getElementById("id_precio").value
          );
          var cantidadProducto = parseFloat(
            document.getElementById("id_cantidad").value
          );

          // Obtener la tabla y el cuerpo de la tabla
          var tabla = document.querySelector("#lista-productos tbody");

          // Crear una nueva fila para el producto
          var nuevaFila = document.createElement("tr");

          // Crear las celdas para el nombre, precio, cantidad, importe y acciones del producto
          var celdaNombre = document.createElement("td");
          celdaNombre.textContent = nombreProducto;

          var celdaPrecio = document.createElement("td");
          celdaPrecio.textContent = precioProducto.toFixed(2);

          var celdaCantidad = document.createElement("td");
          celdaCantidad.textContent = cantidadProducto;

          var celdaImporte = document.createElement("td");
          celdaImporte.textContent = (
            precioProducto * cantidadProducto
          ).toFixed(2);

          var celdaAcciones = document.createElement("td");
          var botonEliminar = document.createElement("button");
          botonEliminar.textContent = "Eliminar";
          botonEliminar.classList.add("btn", "btn-danger");
          botonEliminar.addEventListener("click", function () {
            tabla.removeChild(nuevaFila);
            actualizarTotal(); // Actualizar el total al eliminar un producto
          });
          celdaAcciones.appendChild(botonEliminar);

          // Agregar las celdas a la fila
          nuevaFila.appendChild(celdaNombre);
          nuevaFila.appendChild(celdaPrecio);
          nuevaFila.appendChild(celdaCantidad);
          nuevaFila.appendChild(celdaImporte);
          nuevaFila.appendChild(celdaAcciones);

          // Agregar la fila a la tabla
          tabla.appendChild(nuevaFila);

          // Actualizar el total al agregar un producto
          actualizarTotal();
          autoEnfocarCodigoBarras();

          // Ocultar el formulario temporal
          document.getElementById("formularioTemporal").style.display = "none";
        });

      // Evento clic en el botón "Seleccionar"
      $("#seleccionarCliente").click(function () {
        // Obtener el nombre del cliente seleccionado
        var nombreCliente = $("#cliente option:selected").text();

        // Mostrar el nombre del cliente en el elemento correspondiente
        $("#nombreClienteSeleccionado").text(nombreCliente);
      });
    </script>

    
  </body>
</html>
